NEXTAUTH_URL=http://localhost:3001
NEXTAUTH_DEBUG=false

SMTP_HOST=smtp.ethereal.email
SMTP_FROM="Majapi <enrico.christiansen@ethereal.email>"
SMTP_USER=enrico.christiansen@ethereal.email
SMTP_PASS=vJgf5bp8ZAUnPVK2BP
SMTP_PORT=587

# MONGODB_URI=mongodb://localhost:27017/betina

# S3_ENDPOINT=minio-s3.majapi.com
# S3_USE_SSL=true
# S3_ACCESS_KEY=minio
# S3_SECRET_KEY=abn*gjq4ygh3pmt*XPT
# S3_BUCKET_NAME=boneare
# S3_REGION=eu-east-1

APP_ENV=development

