{
  "extends": [
    "react-app",
    "plugin:@next/next/recommended"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "requireConfigFile": false,
    "sourceType": "module",
    "babelOptions": {
      "presets": [
        "next/babel"
      ]
    }
  },
  "plugins": [
    "@emotion"
  ],
  "rules": {
    "@next/next/no-html-link-for-pages": "off",
    "sort-imports": [
      "warn",
      {
        "ignoreCase": true
      }
    ],
    "sort-keys": "warn",
    "react/jsx-sort-props": "warn",
    "no-restricted-imports": [
      "warn",
      {
        "paths": [
          {
            "name": "react-use",
            "importNames": [
              "useLogger"
            ],
            "message": "Please remove this before committing."
          }
        ]
      }
    ]
  }
}

